<footer>
  <div class="row">
    <% if copyright_display %>
      <div class="copyright col-lg-12 text-center">
        <p><%= i_copyright %> <%= "#{title} " %><%= Time.now.strftime("%Y") %></p>
      </div>
    <% end %>
  </div>
  <script src="<%= resource_prefix %>assets/js/jquery.js"></script>
  <script src="<%= resource_prefix %>assets/js/bootstrap.min.js"></script>
  <script src="<%= resource_prefix %>assets/js/theme.js"></script>
  <script src="<%= resource_prefix %>assets/js/custom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zclip/1.1.2/jquery.zclip.min.js"></script>
</footer>
<!-- The credit of this design goes to David Miller -->
<!-- Check more for detail: http://startbootstrap.com/template-overviews/thumbnail-gallery/ -->

