<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= resource_prefix %>index.html"><%= title %></a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
      <a href="<%= host_link %>"><%= host_display_text %></a>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= i_category %><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!-- <li><a href="#">Inbox</a></li> -->
          <% image_collection.each do |category| %>
            <li>
              <a href="<%= resource_prefix %>assets/<%= category[:tag] %>/index.html"><%= category[:tag] %></a>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>

