<!DOCTYPE html>
<html lang="en">
  <%= head %>
  <body>
    <%= navbar %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"><a href="../../index.html"><%= i_header %></a> > <a href="index.html"><%= current_category[:tag] %></a> > <%= title %></h1>
          <img class="image-responsive single-image" src="<%= current_image_source %>" alt="">
          <div class="text-center">
            <div class="btn btn-lg btn-success download" id="copy"><%= i_copy %></div>
            <a class="btn btn-lg btn-primary download" href="<%= current_image_source %>" download="<%= title %>" ><%= i_download %></a>
            <a class="btn btn-lg btn-default home" href="<%= resource_prefix %>index.html"><%= i_home %></a>
          </div>
        </div>
      </div>
      <hr>
      <%= footer %>
    </div>
    <script src="<%= resource_prefix %>assets/js/jquery.js"></script>
    <script src="<%= resource_prefix %>assets/js/bootstrap.min.js"></script>
    <script src="<%= resource_prefix %>assets/js/custom.js"></script>
    <script src="<%= resource_prefix %>assets/js/jquery.zclip.js"></script>
    <script>
      $(document).ready(function(){
        var host = window.location.origin;
        var index = window.location.pathname.indexOf("/assets");
        var pathname = window.location.pathname.substring(0,index);
        var path_prefix = host + pathname + "/";
        var resource = "<%= current_image_source %>";
        var resource_path = resource.substring(6,200);
        var image_link = path_prefix + resource_path;
        $("#copy").zclip({
          path: "<%= resource_prefix %>assets/js/ZeroClipboard.swf",
          copy: image_link,
          afterCopy: function(){console.log("text copied!");}
        });
      });
    </script>
  </body>
  <!-- The credit of this design goes to David Miller -->
  <!-- Check more for detail: http://startbootstrap.com/template-overviews/thumbnail-gallery/ -->
</html>
