<!DOCTYPE html>
<html lang="en">
  <%= head %>
  <body>
    <%= navbar %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"><a href="../../index.html">總覽</a> > <%= current_category[:tag] %></h1>
        </div>
          <% current_category[:images].each do |image| %>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <a class="thumbnail" href="<%= image %>.html">
                <img class="img-responsive" src='<%= "#{resource_prefix}#{root_folder}/#{current_category[:tag]}/#{image}" %>' alt="">
              </a>
            </div>
          <% end %>
      </div>
      <hr>
      <%= footer %>
    </div>
    <script src="<%= resource_prefix %>assets/js/jquery.js"></script>
    <script src="<%= resource_prefix %>assets/js/bootstrap.min.js"></script>
  </body>
  <!-- The credit of this design goes to David Miller -->
  <!-- Check more for detail: http://startbootstrap.com/template-overviews/thumbnail-gallery/ -->
</html>
